## ENV
.env
.env.local
.env.prod


## Ignore claude files
/.claude
CLAUDE.local.md

## Pycache
/brobot/__pycache__/
__pycache__/

## Plans folder
/plans

## MacOS Cache
.DS_Store

## Build/install artefacts
*.egg-info/
build/
dist/
